maintitle{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-size: 3vw;
  font-weight: bold;
  z-index: 2;
  text-align: center;
}

maintitle.name{
  font-size: 4em;
  font-size: 11vw;
  text-align: center;

}

sectionheader{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
}

headertwo{
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  font-weight: bold;
}

position{
  font-style: italic;
}

body {
  font-family: 'Roboto', sans-serif;
}

colour.imp_1 {
  color: #000000;
}

colour.imp_2 {
  color: #474747;
}

colour.imp_3 {
  color: #878787;
}
